*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

html{
}
body{
	background: #151515;
	
}
.p{
	
	
}
.wrapper{
	background:#000000;
	height: 206px;
	font-family: 'Poppins', sans-serif;
}
			/*HEADER BEGIN*/
header{
	width:1170px;
	margin: 0 auto;
	background:#000000;
	height: 180px;
}
footer{
	width:1170px;
	margin: 0 auto;
	background:#000000;
	height: 50px;
}
footer p{
		font-size: 18px;
}

nav{
	float: right;
	clear: right;
	
}


nav li{
	float: right;
	margin: 92px 2px 1px 76px;

	
}

nav li a{
	font-size: 28px;
	color: #f9f9fa;
	text-decoration: none;
	transition: color 0.2s linear;
	cursor: pointer
}
 nav li a:hover {
	text-decoration: ;
	color: yellow;
}
			/*HEADER END*/
h3{
	font-size: 29px;
	color: #f9f9fa;
}
h4{
	font-size: 24px;
	color: #f9f9fa;
}
h4 p:hover{
	color: #fc00e4;
}
h4 b{
	background: #111418;
	font-size: 28px;
	color: #f9f9fa;
	transition: font-size 0.2s linear;
}
h4 b:hover{
	font-size: 34px;
	
}
.wrapper1{
	transition: width 0.2s linear;
	animation-name: Appearance;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(.1,-.6,.2,0);
	background:#1C1C1C;
	width: 1170px;
	margin: 0 auto;
	height: 2998px;
}
h1{
	color: #A4A4A4;
	font-size: 72px;
}
h2{
	color: #BDBDBD;
	font-size: 84px;
}
hr{
	margin: 0 auto;
}

p{
	margin: 0 auto;
	color: #E6E6E6;
	font-size: 32px;
}

.wrapper1 a{
	color: #F2F2F2;
	font-size: 30px;
	transition: color 0.2s linear;
	transition: font-size 0.2s linear;
}
.wrapper1 a:hover {
	color: #f9f9fa;
	font-size: 32px;
	
}
.scale {
    transition: 1s; 
 }
.scale:hover{
    transform: scale(1.1);
 }
 .scale1 {
    transition: 1s; 
 }
.scale1:hover{
    transform: scale(2.5);
 }
.img_o {
	transition: width 0.2s linear;
	animation-name: Appearance;
	animation-duration: 0.8s;
	animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}
@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.img {
    transition: 1s;
    opacity: 50%;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    padding: 30px;
    margin: 1.3em auto;
    max-width: 95%;
}
.img:hover {
    transform: scale(1.2);
    opacity: 100%;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    padding: 30px;
    margin: 1.3em auto;
    max-width: 95%;
}
